
:root{
  --bg: #fafafa;
  --text1: #222;
  --alt-bg-1: rgba(0, 0, 0, .03);
  --alt-bg-1-hover: rgba(0, 0, 0, .06);
  --text-3: rgba(34, 34, 34, .45);
  --green: #58a65d;
  --text-2: rgba(34, 34, 34, .7);
  --border: rgba(0, 0, 0, .05);
  --blue: #4c95f7;
  --blue-hover: #3f7bcc;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-bg {
  background-image: linear-gradient(180deg, #F9B737 0%, #DB899C 100%), linear-gradient(180deg, #436CE3 0%, #8495CE 51.77%, #F3DBA9 100%);
  background-size: 100% 100%;
}